@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
  }
}

@layer components {
  .input {
    @apply w-full p-3 rounded bg-slate-700 text-white;
  }

  .btn-primary {
    @apply w-full bg-indigo-600 hover:bg-indigo-500 p-3 rounded font-semibold;
  }
}
